


.surveypage {
    background-image: url(./images/tape.jpg);
    background-repeat:  no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover; 
    font-family: 'Inconsolata', monospace;
    
}

.homepage {
     background-image: url(./images/yellow.jpg);
     background-repeat:  no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover; 
  
  
    font-family: 'Inconsolata', monospace;


}
.card {
    border: thick solid white
}

.card-body {
    /* background-image: url(./images/yellow.jpg) !important */
}

#which {
    /* background-image: url(./images/yellow.jpg); */
}


h1 {
    background-color: white;
    border: black 5px solid;
    color: black
}

p {
    background-color: white;
    color: black;
    border: solid black 5px;
    font-size: 20px;
   
}


hr {
    height: 3px;
    border: solid black;
    background-color: blue;
}

select, input {
    background-color: white !important;
    color: black !important;
    border: solid black 5px !important;
    font-size: 20px !important;

}

button {
    background-color: white !important;
    color: black !important;
    border: solid black 5px !important;

}

button:hover {
    background-color: yellow !important;
    color: blue !important;

}

.question-headers, .questions {
    background-image: url(./images/yellow.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

/* Media queries */

@media only screen and (max-width: 600px) {
    body{
        background-image: url() !important;
        background-color: lightskyblue;
    }
    .container {
        width: 100% !important;
        height: 100% !important;
    }

    h1 {
        background-color: rgb(45, 126, 246);
        color: white;
        font-size: 25px !important;
        width: 100% !important;
        padding:10px !important;
        border: solid thin;
    }

    p {
        float: none !important;
        font-size: 12px !important;
        border: solid thin;

    }

    #begin {
        float: none !important;
        width: 100% !important;
        border: solid thin !important;

    }
    
    #begin:hover {
        background-color: green !important;
        color: white !important;
    }

    .question-headers {
        background-image: url() !important;

    }
    option, select {
        font-size: 15px !important;
    }


    #submit {
        width: 100% !important
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body{
        background-image: url(./images/dunder.jpg) !important;
        background-color: rgb(72, 72, 72);
        background-repeat:no-repeat!important;
        background-size: 100%!important;
        background-position: center;
    }

    #begin {
        float: none !important;
        /* width: 100% !important; */
        border: solid thin !important;

    }
    
    #begin:hover {
        background-color: green !important;
        color: white !important;
    }

}